In [7]:
import pandas as pd
import re
import csv

In [25]:
Path = "/Users/shuo/Desktop/1999-2022_event_reports.csv"
with open(Path, 'w',newline='') as f:
    writer = csv.writer(f)
    for i in range(1999,2023):
        print(i)
        path =  "/Users/shuo/Desktop/1999-2022_powerstatus/" + str(i) + "_powerstatus.csv"
        df = pd.read_csv(path)
        data1 = df.loc[(df['Reason or Comment'] == ('100% ELECTRICAL CAPABILITY' or '100% Electrical Capability'))]
        data2 = df.loc[(df['Reason or Comment'] == ('Coastdown To Refueling Outage' or 'COASTDOWN TO REFUELING OUTAGE'))]
        data3 = df.loc[(df['Reason or Comment'] == ('Coastdown To Refueling Outage; Reached Max Core Flow' or 'COASTDOWN TO REFUELING OUTAGE; REACHED MAX CORE FLOW'))]
        data4 = df.loc[(df['Reason or Comment'] == ('Holding power due to feed regulating valve issue.' or 'HOLDING POWER DUE TO FEED REGULATING VALVE ISSUE.'))]
        data5 = df.loc[(df['Reason or Comment'] == ('Holding power due to S/G conditions' or 'HOLDING POWER DUE TO S/G CONDITIONS'))]
        data6 = df.loc[(df['Reason or Comment'] == ('Reduced Power for unplanned feedwater heater maintenance.' or 'REDUCED POWER FOR UNPLANNED FEEDWATER HEATER MAINTENANCE.'))]
        data7 = df.loc[(df['Reason or Comment'] == ('See EN #55679' or 'SEE EN #55679'))]
        for j in range(0, len(data1)):
            res0 = data1.iloc[j,0]
            res1 = data1.iloc[j,1]
            res2 = data1.iloc[j,2]
            res3 = data1.iloc[j,3]
            res4 = data1.iloc[j,4]
            res5 = data1.iloc[j,5]
            res6 = data1.iloc[j,6]
            writer.writerow([res0, res1, res2, res3, res4, res5, res6])
        for j in range(0, len(data2)):
            res0 = data2.iloc[j,0]
            res1 = data2.iloc[j,1]
            res2 = data2.iloc[j,2]
            res3 = data2.iloc[j,3]
            res4 = data2.iloc[j,4]
            res5 = data2.iloc[j,5]
            res6 = data2.iloc[j,6]
            writer.writerow([res0, res1, res2, res3, res4, res5, res6])
        for j in range(0, len(data3)):
            res0 = data3.iloc[j,0]
            res1 = data3.iloc[j,1]
            res2 = data3.iloc[j,2]
            res3 = data3.iloc[j,3]
            res4 = data3.iloc[j,4]
            res5 = data3.iloc[j,5]
            res6 = data3.iloc[j,6]
            writer.writerow([res0, res1, res2, res3, res4, res5, res6])
        for j in range(0, len(data4)):
            res0 = data4.iloc[j,0]
            res1 = data4.iloc[j,1]
            res2 = data4.iloc[j,2]
            res3 = data4.iloc[j,3]
            res4 = data4.iloc[j,4]
            res5 = data4.iloc[j,5]
            res6 = data4.iloc[j,6]
            writer.writerow([res0, res1, res2, res3, res4, res5, res6])
        for j in range(0, len(data5)):
            res0 = data5.iloc[j,0]
            res1 = data5.iloc[j,1]
            res2 = data5.iloc[j,2]
            res3 = data5.iloc[j,3]
            res4 = data5.iloc[j,4]
            res5 = data5.iloc[j,5]
            res6 = data5.iloc[j,6]
            writer.writerow([res0, res1, res2, res3, res4, res5, res6])
        for j in range(0, len(data6)):
            res0 = data6.iloc[j,0]
            res1 = data6.iloc[j,1]
            res2 = data6.iloc[j,2]
            res3 = data6.iloc[j,3]
            res4 = data6.iloc[j,4]
            res5 = data6.iloc[j,5]
            res6 = data6.iloc[j,6]
            writer.writerow([res0, res1, res2, res3, res4, res5, res6])
        for j in range(0, len(data7)):
            res0 = data7.iloc[j,0]
            res1 = data7.iloc[j,1]
            res2 = data7.iloc[j,2]
            res3 = data7.iloc[j,3]
            res4 = data7.iloc[j,4]
            res5 = data7.iloc[j,5]
            res6 = data7.iloc[j,6]
            writer.writerow([res0, res1, res2, res3, res4, res5, res6])
    
f.close

1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [32]:
data = pd.read_csv('1999-2022_event_reports.csv')

In [33]:
data

,Date,Unit,Power,Down,Reason or Comment,Change in report (*),Number of Scrams (#)
0,20011215,BRAIDWOOD 2,95,,100% ELECTRICAL CAPABILITY,*,
1,20011215,BYRON 1,99,,100% ELECTRICAL CAPABILITY,*,
2,20011216,BRAIDWOOD 2,95,,100% ELECTRICAL CAPABILITY,,
3,20011217,BRAIDWOOD 2,95,,100% ELECTRICAL CAPABILITY,,
4,20011218,BRAIDWOOD 2,95,,100% ELECTRICAL CAPABILITY,,
...,...,...,...,...,...,...,...
17144,20220124,Perry 1,97,,Reduced Power for unplanned feedwater heater m...,,
17145,20220125,Perry 1,97,,Reduced Power for unplanned feedwater heater m...,,
17146,20220126,Perry 1,97,,Reduced Power for unplanned feedwater heater m...,,
17147,20220127,Perry 1,97,,Reduced Power for unplanned feedwater heater m...,,
17148,20220101,Hatch 1,0,12/30/21,See EN #55679,*,